body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: #0b1c3e;
}

.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden; 
    padding-top: 60px;
    transition: 1.5s;
    border-radius: 2%;
}

.sidenav a {
  padding: 0px 0px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #0b1c3e;
  display: block;
  transition: 1.5s;
}

.sidenav a:hover {
  color: #8eb4ff;
  text-decoration: underline;
}
#main {
  transition: margin-left 1.5s;
}

#topOfWeb {
    margin: 0;
    background-color: #0b1c3e; /* Ensures no text-based spacing */
}

#gradientPc {
    min-height: 275px; 
    width: 100%;
    background: linear-gradient(180deg, rgba(11, 28, 62, 1) 0%, rgba(255, 255, 255, 1) 80%);
}

#aboutMe{
    color: #0b1c3e;
    padding: 2%;

    display: inline-flex;
    align-items: center; 
}
#txtButtons{
    font-size: large;
    max-width: 60%;
}
#setBtns{
    display: flex;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

#aboutMeBtn, #btnResume{
    border: none;
    padding: 15px;
    font-size: large;
    margin-right: 3%;
    background-color: #8eb4ff;
    color: white;
    border-radius: 20px;
    transition: 0.5s;
}

#aboutMeBtn:hover, #btnResume:hover{
    background-color: #0b1c3e;
    transition: 0.5s;
    cursor: pointer;
}


#imageSec{
    max-width: 40%;
    padding-right: 2%;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  animation-name: animatetop;
  animation-duration: 1s;
}

.close, .close1, .close2 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus, .close1:hover, .close1:focus, .close2:hover, .close2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

#projectsFull{
    display: flex;
    gap: 30px;
    margin: 10%;
    max-width: 100%;
}

#projStyle1{
    width: 500px;
    border: 2px solid#0b1c3e;
    padding: 3%;
    box-shadow: 10px 10px #0b1c3e19;
    transition: 1s;
}
#projStyle1:hover{
    background-color: #0b1c3e;
    color: white;
    box-shadow: 10px 10px 5px #7495d83c;
    transition: 1s;
}